<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PtCaseMapper">

    <resultMap type="PtCase" id="PtCaseResult">
        <result property="name" column="name"/>
        <result property="describe" column="describe"/>
        <result property="picInfo" column="picInfo"/>
        <result property="caseId" column="case_id"/>
    </resultMap>

    <sql id="selectPtCaseVo">
        select a.`name`, a.`describe`, a.picInfo, a.case_id,ca.`names`
        from pt_case a
                 left join pt_case_category cc on cc.case_id = a.case_id
                 left join pt_category ca on ca.cid = cc.category_id
    </sql>

    <select id="selectPtCaseList" parameterType="PtCase" resultMap="PtCaseResult">
        <include refid="selectPtCaseVo"/>
        <where>
            <if test="name != null  and name != ''">and a.`name` like concat('%', #{name}, '%')</if>
            <if test="categoryId != null  and categoryId != ''">
            and cc.category_id in
            <foreach item="item" collection="categoryId" open="(" separator="," close=")">
                #{item}
            </foreach>
            </if>
            <if test="picInfo != null  and picInfo != ''">and picInfo = #{picInfo}</if>
        </where>
        GROUP BY a.case_id
    </select>

    <select id="selectPtCaseByCaseId" parameterType="Long" resultMap="PtCaseResult">
        <include refid="selectPtCaseVo"/>
        where a.case_id = #{caseId} 	GROUP BY a.case_id
    </select>

<!--    根据案例列表id查询案列model下级-->
    <select id="selectPtCaseModelByCaseId" parameterType="Long" resultType="com.ruoyi.system.domain.PtCaseModel">
         select m.id ,m.pic_info picInfo, m. width ,  m.length length ,m.`describe` ,m.pt_case_id ptCaseId
        from pt_case_model m where pt_case_id = #{ptCaseId}
    </select>

    <insert id="insertPtCase" parameterType="PtCase">
        insert into pt_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">`name`,</if>
            <if test="describe != null">`describe`,</if>
            <if test="picInfo != null">picInfo,</if>
            <if test="caseId != null">case_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="describe != null">#{describe},</if>
            <if test="picInfo != null">#{picInfo},</if>
            <if test="caseId != null">#{caseId},</if>
        </trim>
    </insert>
    <insert id="insertPtCaseModels">
        insert into pt_case_model (pic_info, width, length, `describe`, pt_case_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.picInfo}, #{item.width}, #{item.length}, #{item.describe}, #{item.ptCaseId} )
        </foreach>
    </insert>

    <update id="updatePtCase" parameterType="PtCase">
        update pt_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">`name` = #{name},</if>
            <if test="describe != null">`describe` = #{describe},</if>
            <if test="picInfo != null">picInfo = #{picInfo},</if>
        </trim>
        where case_id = #{caseId}
    </update>

    <update id="updatePtCaseModel" parameterType="PtCaseModel">
        update pt_case_model set
            `pic_info` = #{picInfo},
            `width` = #{width},
            `length` = #{length},
            `describe` = #{describe}
        where id = #{id}
    </update>

    <delete id="deletePtCaseByCaseId" parameterType="Integer">
        delete
        from pt_case
        where case_id = #{caseId}
    </delete>

    <delete id="deletePtCaseByCaseIds" parameterType="String">
        delete from pt_case where case_id in
        <foreach item="caseId" collection="array" open="(" separator="," close=")">
            #{caseId}
        </foreach>
    </delete>

    <delete id="deleteModelByCaseId" parameterType="String">
        delete from pt_case_model where pt_case_id =#{caseIds}

    </delete>

</mapper>